.SF {
    margin-top: 100px;
}

.inSF-title {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.inSF-title .sTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.inSF-timeDropDown {
    color: rgb(32, 129, 226);
    display: flex;
    align-items: center;
    position: relative;
}

.inSF-timeDropDown p {
    font-weight: 600;
    font-size: 24px;
    color: rgb(32, 129, 226);
    margin: 0;
    padding: 0;
}

.inSF-timeDropDown:hover>p {
    color: rgb(24, 104, 183);
    cursor: pointer;
}

.bRb {
    border: none !important;
}

.trending_show_slide {
    position: relative;
    margin-top: 50px;
}

.trendingBox {
    padding: 10px;
    max-width: 100%;
}

.inTbox {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    min-height: 250px;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    transition: all 0.1s ease 0s;
    border: 1px solid rgb(229, 232, 235);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

#dark .inTbox {
    background-color: #303238;
    border: none;
}

.coverImg {
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.coverImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarImg {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    height: 78px;
    width: 78px;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -10px;
}

#dark .avatarImg {
    border: 4px solid #303238;
}

.avatarImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 400ms ease 0s;
}

.footerTrendingBox {
    display: flex;
    padding-left: 10px;
}

.collectionName_verify_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 100%;
}

.footerTrendingBox .collectionName {
    color: rgb(4, 17, 29);
    font-weight: 600;
    font-size: 16px;
    width: auto;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

#dark .footerTrendingBox .collectionName {
    color: rgb(255, 255, 255);

}

.footerTrendingBox .collectionName_verify_icon .verify-icon {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 5px;
}

.profileName span {
    font-weight: 500;
    font-size: 14px;
    color: rgb(112, 122, 131);
}

.profileName a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(32, 129, 226);
    text-decoration: none;
    font-weight: inherit;
    font-size: 14px;
}

.footerTrendingBox .desc {
    max-width: 80%;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
    margin-top: 10px;
}

@media screen and (max-width: 550px) {
    .SF {
        padding: 0;
    }
}

@media screen and (max-width: 431px) {
    .inSF-title {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 1199px) {
    .trending_show_slide {
        max-width: 740px;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
}

@media screen and (max-width: 815px) {
    .trending_show_slide {
        max-width: 400px;
    }
}