.TaxResources {
    padding-top: 70px;
    padding-bottom: 160px;
    color: rgb(4, 17, 29);
}
#dark .TaxResources{
    background-color: rgb(38, 43, 47);
    color: rgb(255, 255, 255);
}
.inTrO {
    height: 800px;
    width: 100%;
    background-image: url("../../assets/tax-resources/background.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 1920px;
    padding-top: 150px;
}
#dark .inTrO{
    background-image: url("../../assets/tax-resources/background-night-mode.png");
}
.taxHhns {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.taxHhns h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0px;
}

.taxHhns p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
}
#dark .taxHhns p {
    color: rgb(229, 232, 235);
}

.taxHhns .taxLogosImg {
    width: 381px;
    height: 36px;
    background-image: url("../../assets/tax-resources/logos.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#dark .taxHhns .taxLogosImg {
    background-image: url("../../assets/tax-resources/logos-night-mode.webp");
}

.taxHhns {
    text-align: center;
}

.taxHhns p.Yhns {
    margin-top: 5px;
}

.taxHhns .tax_Hhns {
    margin-top: 50px;
}

.inTrTs{
    max-width: 1200px;
    margin: auto;
}

.inTrTs .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.inTrTs .grid .gridNM{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gridNmicon{
    margin-right: 30px;
    height: 80px;
    width: 80px;
    background-color: rgb(243, 251, 254);
    color: rgb(32, 129, 226);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dark .gridNmicon{
    background-color: rgb(32, 34, 37);
    color: rgb(255, 255, 255);
}
.gridNmiconIc{
    font-size: 32px !important;
}
.gridNmTxt{
    text-align: left;
    max-width: 300px;
}
.gridNmTxt h4{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}
.gridNmTxt p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
}
#dark .gridNmTxt p {
    color: rgb(229, 232, 235);
}

@media screen and (max-width: 1023px) {
    .inTrTs .grid{
        grid-template-columns: 1fr;
        gap: 80px;
    }
}
@media screen and (max-width: 825px) {
    .inTrTs .grid{
        grid-template-columns: 1fr;
        gap: 80px;
    }
}