.activityMainContent .rankingRe {
    /* width: 1130px; */
}

.activityMainContent {
    width: 100%;
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
}

#dark .activityMainContent {
    background-color: #202225;
}

.activityMainContent {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.activityMainContent::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.ddaRC_Items {
    width: 1098px;
}

.activityMainContent .rreHeader {
    overflow: hidden;
    padding: 0;
}

.activityMainContent .aRC_Items,
.activityMainContent .aRC_Items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid rgb(229, 232, 235);
}

#dark .activityMainContent .aRC_Items-header {
    border-bottom: 1px solid rgb(21, 27, 34);
}

.activityMainContent .aRC_Items {
    border: none;
    padding-top: 10 !important;
    padding-bottom: 10 !important;
    width: 100%;
}

.activityMainContent .aRC_Items-header {
    position: sticky;
    top: 0px;
    z-index: 3;
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
}

#dark .activityMainContent .aRC_Items-header, #dark .aRC_Items {
    color: rgb(255, 255, 255);
}

.activityMainContent .aRC_Items:hover {
    transition: all 0.2s ease 0s;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    background-color: rgb(251, 253, 255);
}

#dark .activityMainContent .aRC_Items:hover {
    background-color: rgb(38, 43, 47);
}

.activityMainContent .empty {
    max-width: 190px;
    flex: 0 0 190px;
}

.activityMainContent .rrCol {
    max-width: 300px;
    flex: 0 0 300px;
    margin-right: 30px;
}

.activityMainContent .price,
.activityMainContent .quantity {
    max-width: 75px;
    flex: 0 0 75px;
    align-items: center;
    justify-content: center;
}

.activityMainContent .quantity p {
    font-weight: 400;
    color: rgb(53, 56, 64);
    font-size: 15px;
}

#dark .activityMainContent .quantity p {
    color: rgb(229, 232, 235);
}

.activityMainContent .from,
.activityMainContent .to {
    width: 125px;
    flex: 0 0 125px;
    align-items: center;
    justify-content: center;
}

.activityMainContent .from p,
.activityMainContent .to p {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(32, 129, 226);
    font-weight: 400;
    font-size: 15px;
}

.activityMainContent .time {
    max-width: 160px;
    flex: 0 0 160px;
    align-items: center;
    justify-content: center;
}

.activityMainContent .time a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(32, 129, 226);
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.aCtiImgVerifyB {
    position: relative;
}

.aCtiImg {
    border-radius: 10px;
    border: 1px solid rgb(229, 232, 235);
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.aCtiImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.aCtiDetails .colName {
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.aCtiDetails .colName p {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    color: rgb(112, 122, 131);
    padding: 0;
    margin: 0;
}

#dark .aCtiDetails .colName p {
    color: rgb(138, 147, 155);
}

.aCtiDetails .colName .verify-icon {
    position: relative;
    top: 0;
}

.aCtiDetails .itemNumber {
    font-weight: 600;
    font-size: 14px;
}

.aRC_Items .price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.aRC_Items .price p {
    margin: 0;
    padding: 0;
}

.aRC_Items .price img {
    width: 10px;
    margin-right: 5px;
}

.mainPrice {
    font-weight: 600;
    font-size: 14px;
    color: rgb(112, 122, 131);
    display: flex;
    align-items: center;
}

#dark .mainPrice {
    color: rgb(255, 255, 255);
}

.priceConvert {
    font-weight: 500;
    font-size: 12px;
    color: rgb(112, 122, 131);
}

#dark .priceConvert {
    color: rgb(138, 147, 155);
}

.iType {
    width: 190px;
    flex: 0 0 190px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.iType h6 {
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.iType .eventTypeIcon {
    font-size: 18px;
}

.iType .FaHandHolding {
    position: relative;
    top: -5px;
}
