.RadioButton {
    float: left;
    /* margin: 0 5px 0 0; */
    width: 50px;
    height: 48px;
    position: relative;
}

.RadioButton label,
.RadioButton input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* width: 50px; */
}

.RadioButton input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.RadioButton input[type="radio"]:checked+label {
    background: #F2F3F5;
}

#dark .RadioButton input[type="radio"]:checked+label {
    background: #353840;
}

.RadioButton input[type="radio"]:checked+label>.inAhLbtnsIcon {
    color: #000;
}

#dark .RadioButton input[type="radio"]:checked+label>.inAhLbtnsIcon {
    color: #fff;
}

.RadioButton label {
    cursor: pointer;
    z-index: 90;
    line-height: 20px;
    border-radius: 10px;
    color: rgb(101, 136, 146);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

#dark .inAhLbtnsIcon {
    color: rgb(138, 147, 155);
}

.inAhLbtnsIcon {
    font-size: 22px !important;
    color: rgb(112, 122, 131);
}

#dark .inAhLbtnsIcon {
    color: rgb(138, 147, 155);
}

/* ============= */

.RadioButton.TitleRadioButton {
    width: 100px;
}

.RadioButton.TitleRadioButton input[type="radio"]:checked+label {
    background: transparent;
    color: rgb(59, 59, 59);
    font-weight: bold;
}

#dark .RadioButton.TitleRadioButton input[type="radio"]:checked+label {
    background: transparent;
    color: #fff;
}

.titleAssetArrow {
    color: rgb(101, 136, 146);
}

.titleAssetArrow.initialIcon {
    position: absolute;
    right: 0;
    top: 5px;
}

.activeTitleAssetArrow {
    color: red;
}

#dark .titleAssetArrow {
    color: #fff;
}