.partner {
    padding-top: 75px;
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.tPartner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    max-width: 1230px;
    margin: auto;
    margin-top: 70px;
}

.tPartner div {
    width: 100%;
}

.tPartner .tPtxt h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0px;
    color: rgb(4, 17, 29);
    max-width: 600px;
}

.tPartner a {
    color: rgb(32, 129, 226);
}

#dark .tPartner .tPtxt h1 {
    color: rgb(255, 255, 255);
}

#dark .tPartner .tPtxt p {
    color: rgb(229, 232, 235);
}

.tPartner .tPtitle p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
}

#dark .tPartner .tPtitle {
    color: rgb(229, 232, 235);
}

.tPartner .tPtitle a {
    color: rgb(32, 129, 226);
    text-decoration: none;
}

.tPartner .tPimg {
    width: 50%;
}

.pS {
    margin-top: 100px;
    flex-direction: column;
}

.pS .tPtitle.pSTtitle {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.pS .tPtitle.pSTtitle a {
    color: rgb(32, 129, 226);
}

#dark .pS .tPtitle.pSTtitle {
    color: rgb(255, 255, 255);
}

.pS .tPtitle.pSTtitle h1 {
    max-width: 100%;
}

.pS .tPtitle.pSTtitle h2 {
    font-size: 40px;
}

#dark .pS .tPtitle.pSTtitle p {
    color: rgb(229, 232, 235);
}

.pSContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.pSContent div {
    width: 346px;
    padding: 8px;
    text-align: center;
}

.pSContent img {
    max-width: 50px;
}

.pSContent h3 {
    font-weight: 600;
    font-size: 24px;
    color: rgb(4, 17, 29);
}

.pSContent h3 {
    color: rgb(255, 255, 255);
}

.pSContent p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
}

#dark .pSContent p {
    color: rgb(229, 232, 235);
}

.psTh {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 24px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 30px;
    max-width: 1150px;
    margin: auto;
}

.psTh .inPsThBox {
    width: 100%;
    overflow: hidden;
    width: 100%;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    transition: all 0.1s ease 0s;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#dark .psTh .inPsThBox {
    background-color: rgb(48, 51, 57);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 8px;
    transition: box-shadow 0.25s ease-in-out 0s;
}

.pScoverImg {
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.pScoverImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.colPsFooter {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.colPsavatarImg {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -10px;
}

#dark .colPsavatarImg {
    background-color: rgb(48, 51, 57);
    border: 4px solid rgb(48, 51, 57);
    ;
}

.colPsavatarImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 400ms ease 0s;
}

.colName_verify_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
}

.colPsName {
    color: rgb(4, 17, 29);
    font-weight: 600;
    font-size: 16px;
    width: auto;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

#dark .colPsName {
    color: rgb(255, 255, 255);
}

.vrify-iconB .verifyIcon {
    font-size: 20px;
    color: rgb(32, 129, 226);
}

.PsFi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 150px 40px;
}

.PsFiL {
    width: 45%;
}

.quote {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.PsFiL p:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    color: rgb(4, 17, 29);
}

.PsFiL p:nth-child(3) {
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
    padding: 0;
    margin: 0;
}

#dark .PsFiL p:nth-child(2), #dark .PsFiL p:nth-child(3) {
    color: rgb(255, 255, 255);
}

.PsFiL p:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
    margin: 0;
    margin-top: 5px;
}

#dark .PsFiL p:nth-child(4) {
    color: rgb(229, 232, 235);
}

.PsFiR {
    max-width: 450px;
}

.PsFiR img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .partner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .tPartner, .PsFi {
        flex-direction: column-reverse;
    }

    .tPartner .tPimg {
        width: 100%;
    }

    .tPartner .tPimg img {
        width: 100%;
        height: auto;
    }

    .PsFi {
        max-width: 750px;
    }

    .PsFiL {
        width: 100%;
        text-align: center;
    }

    .tPartner .tPtxt h1 {
        max-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .psTh {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
    }

}

@media screen and (max-width: 767px) {
    .psTh {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        max-width: 400px;
    }

}