.six {
    background-color: #FAFCFF;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
#dark .six{
    background-color: #202225;
}
.six .sTitle {
    text-align: center;
}
.insix{
    margin: 40px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}
.insix div{
    max-width: 260px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.insix div p:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
}
.insix div p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgb(53, 56, 64);
    padding: 0;
    margin: 0;
    padding-top: 4px;
}
.insix div a{
    font-weight: 600;
    color: rgb(32, 129, 226);
}
#dark .insix div p:nth-child(2){
    color: rgb(255, 255, 255);
}
#dark .insix div p:nth-child(3){
    color: rgb(229, 232, 235);
}
@media screen and (max-width: 767px){
    .insix{
        flex-direction: column;
    }
    .insix div{
        max-width: 240px;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 599px){
    .insix div{
        max-width: 100%;
        padding: 0px 20px;
    }
}